.posts-section {
  padding: 50px;
}

.comment {
  margin: 12px 0;
}

.btn-pagination {
  border: 1px solid rgba(186, 186, 186, 0.1);
  border-radius: 4px;
  margin-bottom: 12px;
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  color: #000;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likes-comments-number {
  display: block;
  text-align: right;
}

.new-post-form {
  max-width: 700px;
  margin: 0 auto;

  /* Layout */
  display: flex;
  flex-direction: column;
}

.new-post-form h1,
.comment-form h1 {
  margin: 12px 0 24px;
  font-size: 34px;
  font-weight: bold;
  color: #333;
}

.comment-form h1 {
  margin: 12px 0 24px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.new-post-form label,
.comment-form label {
  margin: 0 0 6px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.post-form-title,
.post-form-text,
.form-submit-btn,
.comment-field,
.common-btn {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 4px;
  margin-bottom: 24px;
}

.post-form-text,
.comment-field {
  min-height: 100px;
}

.form-submit-btn,
.common-btn {
  cursor: pointer;
}

.post-title:focus,
.post-form-text:focus,
.comment-field:focus {
  outline: none;
  border: 1px solid #333;
}

.like-btn {
  /* width: 100%; */
  margin-top: 24px;
  margin-bottom: 12px;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
}

.btns-wrapper {
  display: flex;
}

.c-btn {
  margin-right: 6px;
}